@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex; align-items: center; justify-content: center;
  min-height: 100vh;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url("https://i.pinimg.com/1200x/f7/e1/cf/f7e1cf3f1badfba8a4008e8d84167a41.jpg");
  background-size: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: 'Zeyada', cursive;
}

/* PAPER STYLE */
.paper {
  background-image: url("https://i0.wp.com/textures.world/wp-content/uploads/2018/10/2-Millimeter-Paper-Background-copy.jpg?ssl=1");
  background-size: 500px;
  background-position: center;
  padding: 20px 100px;
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px rgba(0,0,0,0.5);
  position: absolute;
}

/* HEART */
.paper.heart {
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}

/* IMAGE PAPER */
.paper.image {
  padding: 10px;
}

.paper.image p {
  font-size: 30px;
}

/* IMAGE */
img {
  max-height: 200px;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

/* HEART IMAGE */
.paper.heart::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('https://cdn.pixabay.com/photo/2016/03/31/19/25/cartoon-1294994__340.png');
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

/* TEXT */
p {
  font-size: 50px;
  color: rgb(20, 23, 206);
  opacity: 0.8;
  user-select: none;
  filter: drop-shadow(2px 1.5px 1px rgba(0,0,105,0.9));
}
